{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/page-title.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{`images/illustrations/dots-group-sm.svg`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/console.svg`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/brackets.svg`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/keycap-n-for-noel.svg`| relURL}}" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{.Params.author_signature | absURL }}" alt="{{ site.Params.Author }} signature" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- resume -->
<!-- Inspired by:
  - https://codepen.io/ericwbailey/pen/baByyw
  - https://codepen.io/thormeier/pen/YzxaNdN
-->
<section class="resume">
  <div class="imagezoom-container">
    <!-- <a href="{{.Params.resume_gist_url | absURL }}"> -->
      <!-- <img alt="Noël Ruault resume" class="resume-poster" src="{{.Params.resume_image_url | absURL }}" /> -->
      <input type="text" class="resume-poster imagezoom" style="background-image: url({{.Params.resume_image_url | absURL }});">
    <!-- </a> -->
    <div class="imagezoom-background"></div>
    <button class="imagezoom-close">
      &times;
    </button>
  </div>
  <div class="resume-instructions">
    <form action="{{.Params.resume_gist_url | absURL }}">
      <button class="brick">Display resume</button>
    <!-- </form> -->
  </div>


  <div class="imagezoom-container">
    <input type="text" class="imagezoom"
           style="background-image: url({{.Params.resume_image_url | absURL }});">
    <div class="imagezoom-background"></div>
    <button class="imagezoom-close">
      &times;
    </button>
  </div>

  <script>

  </script>

<style>

.imagezoom-container {
  display: inline-block;
  margin: 10px;
}

.imagezoom {
  cursor: pointer;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  /* background-size: cover;
  background-position: center;
  border: 0 none;
  color: rgba(0, 0, 0, 0);
  height: inherit; */
}
.imagezoom::selection {
  display: none;
}

.imagezoom:focus {
  /* Make the "image" fill the entire screen */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100vw - 200px) !important;
  height: calc(100vh - 100px) !important;
  min-width: 600px;

  /* Style the background-image */
  background-size: contain;
  background-repeat: no-repeat;
  margin: 50px 100px;

  /* Remove the background-color by making it fully transparent */
  background-color: rgba(0, 0, 0, 0);

  /* Get rid of default focus styling */
  z-index: 100;
  border: 0 none;
  outline: none;

  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

/* The background */
.imagezoom-background {
  display: none;
}

.imagezoom:focus ~ .imagezoom-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.imagezoom-close {
  display: none;
}

.imagezoom:focus ~ .imagezoom-close {
  display: block;
  background: none;
  border: 0 none;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
}


  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
</style>
</section>
<!-- /resume -->

<!-- Work Process -->
{{ if site.Data.about.work_process.enable }}
{{ with site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
