<!-- contact -->
<section class="section section-on-footer mb-0" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="section-title">Send me an email</h3>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <!-- <h4 class="mb-80">Send me an email!</h4> -->
                    <form action="{{site.Params.contact_form.form_action}}" method="POST" class="row">
                        <!-- <div class="col-md-6">
                            <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
                        </div> -->
                        <div class="col-md-12">
                            <input type="email" id="email" name="email" placeholder="Your Email Address"
                                class="form-control px-0 mb-4">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" class="form-control px-0 mb-4"
                                placeholder="Type Message Here"></textarea>
                        </div>
                        <div class="col-lg-12 col-10 mx-auto">
                            <!-- <button class="btn btn-primary w-100">send</button> -->
                            <form action="{{.Params.resume_gist_url | absURL }}">
                                <button class="brick" style="padding: 1em 3.5em;">send</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->
