{{ if site.Params.contact_form.enable_on_footer }}
  {{ partial "contact-form.html" . }}
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.email}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.phone}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.address}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
    <p class="mb-0 text-light">{{ site.Params.template_copyright | markdownify }} {{ now.Year }} {{ site.Params.template_copyright_ext | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
  {{ if site.Params.cookies.type_default }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
  <div id="js-cookie-box" class="cookie-box cookie-box-hide">
    This site uses cookies. By continuing to use this website, you agree to their use.
    <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
  </div>

  <script>
    (function ($) {
      const cookieBox = document.getElementById('js-cookie-box');
      const cookieButton = document.getElementById('js-cookie-button');
      if (!Cookies.get('cookie-box')) {
        cookieBox.classList.remove('cookie-box-hide');
        cookieButton.onclick = function () {
          Cookies.set('cookie-box', true, {
            expires: {{ site.Params.cookies.expire_days }}
          });
          cookieBox.classList.add('cookie-box-hide');
        };
      }
    }) (jQuery);

    // Check if the pressed key is the one you want to use to close the js-cookie-box div, only if present.
      document.addEventListener('keypress', function (event) {
        if (event.key === 'y' || event.key === 'Y') {
          var cookieBox = document.getElementById('js-cookie-box');
          if (cookieBox) {
            if (cookieBox.style.display !== 'none' || !cookieBox.classList.contains('cookie-box-hide')) {
              cookieBox.classList.add('cookie-box-hide');
              cookieBox.style.display = 'none';
            } else { return; }
          }
        }
      });
  </script>

  <!-- cookie style -->
  {{ end }}

  {{ if site.Params.cookies.type_console }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
  <div id="js-cookie-box" class="cookie-box-hide cookie-box cookies-banner">
    <div class="cookies-banner__body">
      <div class="mb-3">
        <br> This site uses cookies.
      </div>

      <div class="mb-3">
        <div class="cookies-banner__pre">
          <div class="cookies-banner__pre-inner">
            By continuing to use this website, you agree to their use.
            <br><br>

            <div class="cookies-banner__link">
              <a id="js-cookie-yes-button" class="cookies-banner__choice-link">
                [<b>Y</b>]es, I agree
              </a>
            </div>
          </div>
        </div>

        <div id="js-close-cookie-button" class="cookies-banner__close-button">[X]</div>
      </div>
    </div>
  </div>

  <script>
    (function ($) {
      const cookieBox = document.getElementById('js-cookie-box');
      const cookieButton = document.getElementById('js-close-cookie-button');
      const cookieYesButton = document.getElementById('js-cookie-yes-button');

      if (!Cookies.get('cookie-box')) {
        cookieBox.classList.remove('cookie-box-hide');
        cookieButton.onclick = function () {
          Cookies.set('cookie-box', true, {
            expires: {{ site.Params.cookies.expire_days }}
          });
          cookieBox.classList.add('cookie-box-hide');
        };
        cookieYesButton.onclick = function () {
            Cookies.set('cookie-box', true, {
              expires: {{ site.Params.cookies.expire_days }}
          });
          cookieBox.classList.add('cookie-box-hide');
        };
      }
    }) (jQuery);
  </script>

  <!-- cookie style -->
  {{ end }}

{{ end }}
